* {
    font-family: 'Newsreader', serif;
    color: white;
    background-color: rgb(148, 148, 148) !important;
}

body {
    color: white;
    background-color: rgb(148, 148, 148);
}

.card-subtitle {
    color: white;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}